* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.navbar {
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: white !important;
  background: #00afd7;
}

.logo {
  width: 200px;
  height: 76px;
}
.land {
  background-image: url(./images/mountaines.jpg);
  height: 800px;
  width: 100%;
  position: relative;
}
.land h3 {
  position: absolute;
  color: white;
  bottom: 50%;
  left: 50%;
  font-size: 3rem;
  transform: translateX(-50%);
  font-family: "Raleway", sans-serif;
}

.land p {
  position: absolute;
  color: white;
  bottom: 20%;
  left: 50%;
  font-size: 3rem;
  transform: translateX(-50%);
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.fadein {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

.land span {
  color: rgb(250, 169, 18);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.button {
  position: absolute;
  bottom: 0%;
  left: 50%;
  font-size: 3rem;
  transform: translateX(-50%);
}

span {
  color: rgb(250, 169, 18);
  font-weight: bold;
}
i {
  border: 1px solid rgb(250, 169, 18);
  border-radius: 50%;
  padding: 10px;
  color: rgb(250, 169, 18);
}

i:hover {
  color: white;
  background-color: rgb(250, 169, 18);
}

.suit {
  width: 80%;
  height: 100%;
}

.image {
  position: relative;
}

.sub {
  width: 100%;
  height: 100%;
}

.memb {
  width: 100%;
  height: 100%;
}

label {
  color: #00afd7;
  font-weight: 500;
}

.sine {
  border: 1px solid black;
  /* background-color: rgb(250, 169, 18); */
  padding: 5px;
}

.stats {
  background-color: #25be79;
}

.stats span {
  font-size: 4rem;
}
.stats p {
  font-size: 2rem;
}

.trips span {
  color: #00afd7;
  font-weight: 700;
}

.dest {
  font-size: 4rem !important;
}

.dest span {
  color: #00afd7;
  font-weight: 700;
}

.trips span {
  color: #00afd7;
  font-weight: 700;
  font-size: 4rem !important;
}

.trav span {
  color: #00afd7;
  font-weight: 700;
  font-size: 4rem !important;
}

.card-text {
  color: red;
}

.title {
  background-color: rgb(250, 169, 18);
  margin-bottom: -16px;
}

.footer {
  background-color: darkslategrey;
  height: 100px;
}

.contact .face {
  background-color: #00afd7;
  color: #eeeeee;
  border: none;
}

.contact .insta {
  background-color: #405de6;
  color: white;
  border: none;
}

.contact .twitter {
  background-color: #00afd7;
  color: white;
  border: none;
}

.contact .youtube {
  background-color: #ff0000;
  border: none;
  color: #282828;
}

.contact i:hover {
  color: white;
  background-color: rgb(250, 169, 18);
}
